* {
  margin: 0;
  padding: 0;
}
body {
  width: 500px;
  height: 190px;
  background: #f7f0f0;
  border: 4px solid navy;
}

body:hover{
    border: 4px solid #05b62c;
}

.contc div {
  background-color: rgba(221, 221, 221, 0.205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contc .heading {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.contc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contc img {
  margin: auto 1.25rem;
  transition: 0.3s;
}

.contc img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.contc .contc-text {
  font-size: 1.5rem;
}
